<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TBALogInServlet</servlet-name>
        <servlet-class>controller.TBALogInServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBABookBrowsingServlet</servlet-name>
        <servlet-class>controller.TBABookBrowsingServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBACustomerServlet</servlet-name>
        <servlet-class>controller.TBACustomerServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBABookServlet</servlet-name>
        <servlet-class>controller.TBABookServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBASignUpServlet</servlet-name>
        <servlet-class>controller.TBASignUpServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBALogOutServlet</servlet-name>
        <servlet-class>controller.TBALogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TBAGenreServlet</servlet-name>
        <servlet-class>controller.TBAGenreServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBASearchServlet</servlet-name>
        <servlet-class>controller.TBASearchServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAAccountProfileServlet</servlet-name>
        <servlet-class>controller.TBAAccountProfileServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBARequestServlet</servlet-name>
        <servlet-class>controller.TBARequestServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBACartServlet</servlet-name>
        <servlet-class>controller.TBACartServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAAddToCartServlet</servlet-name>
        <servlet-class>controller.TBAAddToCartServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBACheckoutServlet</servlet-name>
        <servlet-class>controller.TBACheckoutServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAMyOrdersServlet</servlet-name>
        <servlet-class>controller.TBAMyOrdersServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBABookRequestServlet</servlet-name>
        <servlet-class>controller.TBABookRequestServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAOrdersServlet</servlet-name>
        <servlet-class>controller.TBAOrdersServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAChangePasswordServlet</servlet-name>
        <servlet-class>controller.TBAChangePasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBABookManagementServlet</servlet-name>
        <servlet-class>controller.TBABookManagementServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAEditBookServlet</servlet-name>
        <servlet-class>controller.TBAEditBookServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBADeleteBookServlet</servlet-name>
        <servlet-class>controller.TBADeleteBookServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAUpdateBookServlet</servlet-name>
        <servlet-class>controller.TBAUpdateBookServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAUpdateOrderServlet</servlet-name>
        <servlet-class>controller.TBAUpdateOrderServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBACancelOrderServlet</servlet-name>
        <servlet-class>controller.TBACancelOrderServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAPDFServlet</servlet-name>
        <servlet-class>controller.TBAPDFServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBADeleteRecord</servlet-name>
        <servlet-class>controller.TBADeleteRecord</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAForgotPWServlet</servlet-name>
        <servlet-class>controller.TBAForgotPWServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAResetPasswordServlet</servlet-name>
        <servlet-class>controller.TBAResetPasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAQuestionsServlet</servlet-name>
        <servlet-class>controller.TBAQuestionsServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAUpdateReferenceNumber</servlet-name>
        <servlet-class>controller.TBAUpdateReferenceNumberServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TBAArchiveServlet</servlet-name>
        <servlet-class>controller.TBAArchiveServlet</servlet-class>
                <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.postgresql.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>kcmbeticruqigi</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>dd9aae8bfd10a81929e9cb9402a39b6ac5c443f4c4686805d4ebd500340517cd</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:postgresql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>ec2-34-195-233-155.compute-1.amazonaws.com</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>5432</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>d32a05qts98sg0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TBALogInServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBASignUpServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBALogOutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBABookBrowsingServlet</servlet-name>
        <url-pattern>/BookBrowsing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBABookServlet</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAAccountProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAGenreServlet</servlet-name>
        <url-pattern>/Genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBASearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBARequestServlet</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBACartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAAddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBACheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAMyOrdersServlet</servlet-name>
        <url-pattern>/MyOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBACustomerServlet</servlet-name>
        <url-pattern>/Customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBABookRequestServlet</servlet-name>
        <url-pattern>/BookRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAOrdersServlet</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBABookManagementServlet</servlet-name>
        <url-pattern>/BookManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAEditBookServlet</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBADeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAUpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAUpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBACancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAPDFServlet</servlet-name>
        <url-pattern>/CreatePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBADeleteRecord</servlet-name>
        <url-pattern>/DeleteRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAForgotPWServlet</servlet-name>
        <url-pattern>/ForgotPW</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAQuestionsServlet</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAUpdateReferenceNumber</servlet-name>
        <url-pattern>/UpdateRNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBAArchiveServlet</servlet-name>
        <url-pattern>/Archives</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>BookBrowsing</welcome-file>
    </welcome-file-list>
</web-app>
